/* /Users/melinabehzadi/Desktop/101447858-lab-test2-comp3133/src/styles.scss */

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f7f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.mat-card {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

